<div class="body">
    <app-menu-nav></app-menu-nav> 
  <div class="container">

    <div class="card w-100 ">
      <div class="card-block">
        <div class="row"><div class="col-sm-12"><h4 class="card-title">Card title</h4></div></div>
        <div class="row">
          
          
          
          <!-- <div class="row"> -->
          <div class="col-sm-4 tarjeta">
            <div class="card" routerLink="/menu" routerLinkActive="active">
              <img class="card-img-top" src="/assets/Images/home/017-caja-registradora.png" alt="Card image cap">
              <div class="card-body">
                  <h4 class="title">Caja</h4>
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->              </div>
            </div>
          </div>
          <div class="col-sm-4 tarjeta">
            <div class="card"routerLink="/facturas" routerLinkActive="active">
              <img class="card-img-top" src="/assets/Images/home/019-factura.png" alt="Card image cap">
              <div class="card-body">
                  <h4 class="title">Facturas</h4>
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->              </div>
            </div>
          </div>
          <div class="col-sm-4 tarjeta">
            <div class="card" s routerLink="/inventario" routerLinkActive="active">
              <img class="card-img-top" src="/assets/Images/home/003-almacen-1.png" alt="Card image cap">
              <div class="card-body">
                  <h4 class="title">Inventario</h4>
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->              </div>
            </div>
          </div>



          <!-- </div> -->
          
         
        
        </div>
        <div class="row ">
            
            
            
            <!-- <div class="row"> -->
            <div class="col-sm-4 tarjeta">
              <div class="card" routerLink="/cotizaciones" routerLinkActive="active">
                <img class="card-img-top" src="/assets/Images/home/018-factura-1.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="title">Cotizaciones</h4>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->                </div>
              </div>
            </div>
            <div class="col-sm-4 tarjeta">
              <div class="card"  routerLink="/proveedores" routerLinkActive="active">
                <img class="card-img-top" src="/assets/Images/home/009-transporte.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="title">Proveedores</h4>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->              </div>
            </div>
            </div>
            <div class="col-sm-4 tarjeta">
              <div class="card"  routerLink="/empleados" routerLinkActive="active">
                <img class="card-img-top" src="/assets/Images/home/005-perfil-1.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="title">Empleados</h4>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->              </div>
            </div>

          </div>
        
      </div>
      <div class="row">
            <div class="col-sm-12"> <a href="#" class="btn btn-primary" routerLink="/" routerLinkActive="active">Cerrar Sesión</a></div>
        </div>
    </div>
    <!-- <a routerLink="/menu" routerLinkActive="active"> -->

    <!-- </a> -->
  </div>
</div>