<div class="body">
  <div class="container">

    <!-- <a routerLink="/menu" routerLinkActive="active"> -->
      <div class="card" style="width: 20rem;" routerLink="/menu" routerLinkActive="active">
          <img class="card-img-top" src="/assets/Images/home/menu.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
    <!-- </a> -->
  </div>
</div>