<script>
  imprimir(el){

    // var restorepage=document.body.innerHTML;
    // var printcontent=document.getElementById(el).innerHTML;
    // document.body.innerHTML= printcontent
    // window.print();
    // document.body.innerHTML= restorepage;

      var generador = window.open(",name,");
      var layertext = document.getElementById(el);
      generador.document.write(layertext.innerHTML.replace("print Me"));
      generador.document.close();
      generador.print();
      generador.close();
  }
</script>

<div class="body">
 <app-menu-nav></app-menu-nav> 
 <div class="container">
    
    <div class="row">
      <div class="col-sm-12">




<br><br><br>


<div class="panel-group card">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title card-header" >
          <a data-toggle="collapse" href="#collapse1">Comidas</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body card-body">Panel Body

            <div class="col-sm-4">
                
                <div class="card" style="width: 20rem;">
                    <div class=card-header>
                        {{comidas.nombreComida}}
                      </div>
                  <img  class=" img-fluid"src="/assets/Images/menu/{{comidas.imagenComida}}" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">{{comidas.descripcionComida}}</p>
                    <h5>Costo: {{comidas.precioComida}}</h5>
                  </div>
                </div>
              </div>

        </div>
        <div class="panel-footer">Panel Footer</div>
      </div>
    </div>
  </div>

  <div class="panel-group card">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title card-header" >
            <a data-toggle="collapse" href="#collapse11">Bebidas</a>
          </h4>
        </div>
        <div id="collapse11" class="panel-collapse collapse">
          <div class="panel-body card-body">Panel Body
  
              <div class="col-sm-4">
                  
                  <div class="card" style="width: 20rem;">
                      <div class=card-header>
                          {{bebidas.nombreBebida}}
                        </div>
                    <img  class=" img-fluid"src="/assets/Images/menu/{{bebidas.imagenBebida}}" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">{{bebidas.descripcionBebida}}</p>
                      <h5>Costo: {{bebidas.precioBebida}}</h5>
                    </div>
                  </div>
                </div>
  
          </div>
          <div class="panel-footer">Panel Footer</div>
        </div>
      </div>
    </div>

        <div class="card">
          <div class="card-header">
            Menu
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-sm-12">
                <!--
                        Primera fila de Comida
                -->
                <div class="row">
                  <div class="col-sm-4">
                    <div class="card" style="width: 20rem;">
                      <img  class=" img-fluid"src="/assets/Images/menu/Torta.JPG" alt="Card image cap">
                      <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card" style="width: 20rem;">
                      <img class=" img-fluid" src="/assets/Images/menu/harmbuguesa.jpg" alt="Card image cap">
                      <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card" style="width: 20rem;">
                      <img class="card-img-top" src="/assets/Images/menu/bonoless.jpg" alt="Card image cap">
                      <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                    </div>
                  </div>

                </div>
                <!--
                        Segunda fila de Comida
                -->

                      <div class="row" style="margin-top:5%;">
                          <div class="col-sm-4">
                            <div class="card" style="width: 20rem;">
                              <img class="card-img-top" src="/assets/Images/menu/hamburguesas-pollo.jpg" alt="Card image cap">
                              <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="card" style="width: 20rem;">
                              <img class="card-img-top" src="/assets/Images/menu/papas.jpg" alt="Card image cap">
                              <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="card" style="width: 20rem;">
                              <img class="card-img-top" src="/assets/Images/menu/harmbuguesa.jpg" alt="Card image cap">
                              <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              </div>
                            </div>
                          </div>
        
                        </div>

                        <!-- Tercera Fila de Comida
                        
                        -->


                        <div class="row" style="margin-top:5%;">
                            <div class="col-sm-4">
                              <div class="card" style="width: 20rem;">
                                <img class="card-img-top" src="/assets/Images/menu/jugo.jpg" alt="Card image cap">
                                <div class="card-body">
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="card" style="width: 20rem;">
                                <img class="card-img-top" src="/assets/Images/menu/agua.jpg" alt="Card image cap">
                                <div class="card-body">
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="card" style="width: 20rem;">
                                <img class="card-img-top" src="/assets/Images/menu/coca.jpg" alt="Card image cap">
                                <div class="card-body">
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                              </div>
                            </div>
          
                          </div>
              </div>
            </div>
            <br><br>

<div class=main id=imprimirTicket>
     <h3 class="card-title">Costo: 130$</h3>
            <h3>Seleccionado:</h3><p class="card-text">Hamburguesa, Coca cola, Papas</p>
</div>


            <a class="btn btn-primary printbtn" (click)="imprimir('imprimirTicket')">Generar Ticket</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>