<app-menu-nav></app-menu-nav> 
<div class="container">

  
    <div class="card card-container">
      <div class="row">
        
        <div class="col-sm-12 col-md-12 col-lg-3 imagencentrada" >
          <img src="assets/Images/Generales/LaBurguesia.jpg" alt="" class="img-fluid">
        </div>
  
        <div class="col-sm-12 col-md-8 col-lg-7">

            <h3>Inventario</h3>
            <hr>

          <form action="" id="agregar" >
            <div ngModelGroup="contacto" #contacto="ngModelGroup">
            <div class="form-row">
              <label for="codigo" class="form-control-label col-sm-12 col-md-2 col-lg-2">Proveedor:</label>
              <input type="text" class="form-control col-sm-12 col-md-10 col-lg-10" id="codigo" name="codigo" ngModel #codigo>
            </div>
            
            <div class="form-row">
              <label for="producto" class="form-control-label col-sm-12 col-md-2 col-lg-2">Producto:</label>
              <input type="text" class="form-control col-sm-12 col-md-10 col-lg-10" id="producto"  name="producto" >
            </div>
            <div class="form-row">
              <label for="cantidad" class="form-control-label col-sm-12 col-md-2 col-lg-2">Cantidad:</label>
              <input type="text" class="form-control col-sm-12 col-md-10 col-lg-10" id="cantidad"  name="cantidad">
            </div>
            <div class="form-row">
                <label for="marca" class="form-control-label col-sm-12 col-md-2 col-lg-2">Marca:</label>
                <input type="text" class="form-control col-sm-12 col-md-10 col-lg-10" id="marca"  name="marca">
              </div>
             
            <!-- <div class="form-row">
              <div class="form-group col">
                <label class="form-control-label" for="producto">Producto:</label>
                <input type="text" class="form-control" id="producto"  name="producto">
              </div> -->
  
              <!-- <div class="form-group col">
                <label for="cantidad" class="form-control-label">Cantidad:</label>
                <input type="text" class="form-control" id="cantidad" name=cantidad ngModel #cantidad>
              </div> -->
            <!-- </div> -->
            <div class="form-row">
              <div class="form-group col"><button  class="btn btn-success" (click)="agregar(contacto.value)">Guardar</button></div>
              <div class="form-group col"><button type="reset" class="btn btn-primary">Resetear</button></div>
              <div class="form-group col"><button class="btn btn-primary">Excel </button></div>
              <!-- {{contacto.value | json}} -->
            </div>
          </div>
            
          </form>
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2">
          <!-- <button type="reset"  class="btn btn-primary">Resetear</button>   -->
        </div>
      </div>
  
      <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover table-responsive">
                <thead>
                  <tr>
                    <!-- <th>#</th> -->
                    <th>Codigo</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Marca</th>
                    <!-- <th>Producto</th>
                    <th>Cantidad</th> -->
                  </tr>
                </thead>
                <tbody >
                  <tr *ngFor="let item of usuarios1">
                    <!-- <th scope="row">{{item.id}}</th> -->
                    <td>{{item.codigo}}</td>
                    <td>{{item.producto}}</td>
                    <td>{{item.cantidad}}</td>
                    <td>{{item.marca}}</td>
                    <!-- <td>{{item.producto}}</td>
                    <td>{{item.cantidad}}</td> -->
                  </tr>
                  
                </tbody>
              </table>
        </div>
      </div>
  
  
    </div>
    <!-- /card-container -->
  </div>
  <!-- /container -->