<app-menu-nav></app-menu-nav>
<div class="container">

  <div class="card card-container">
    <div class="row">



      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <div class="col-sm-12 col-md-3 col-lg-12 imagencentrada">
            <img src="assets/Images/Generales/LaBurguesia.jpg" alt="" class="img-fluid">
            <h3>Paquetes Para Fiestas</h3>
            <hr>
            <h5>Atrevete en contratar algunos de los paquetes que tenemos para todo tipos de fiesta o reunion.</h5>
          </div>

        </div>

        <div class="panel-group card">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title card-header">
                <a data-toggle="collapse" href="#collapse1">Infantiles</a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="container">
                <div class=row>
                  <div class="col" *ngFor="let item of promociones.Infantiles">
                    <div class="panel-body card-body">



                      <div class="card">
                        <div class=card-header>
                          Numero de Paquete {{item.categoriaPromocion}}: {{item.idPromocion}}
                        </div>

                        <div class="card-body">
                          <p class="card-text">{{item.descripcionPromocion}}</p>
                          <h5>Costo: {{item.costoPromocion}}</h5>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel-group card">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title card-header">
                  <a data-toggle="collapse" href="#collapse11">Reuniones</a>
                </h4>
              </div>
              <div id="collapse11" class="panel-collapse collapse">
                <div class="container">
                  <div class=row>
                    <div class="col" *ngFor="let item of promociones.Reuniones">
                      <div class="panel-body card-body">
  
  
  
                        <div class="card">
                          <div class=card-header>
                            Numero de Paquete {{item.categoriaPromocion}}: {{item.idPromocion}}
                          </div>
  
                          <div class="card-body">
                            <p class="card-text">{{item.descripcionPromocion}}</p>
                            <h5>Costo: {{item.costoPromocion}}</h5>
                          </div>
                        </div>
  
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
       
      </div>
      
    </div>

    <div class="row">
      <div class="col-sm-12">
        <table class="table table-hover table-responsive">
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Edad</th>
              <th>Domicilio</th>
              <th>Correo</th>
              <th>Puesto</th>
              <th>Usuario</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of usuarios1">
              <th scope="row">{{item.id}}</th>
              <td>{{item.nombre}}</td>
              <td>{{item.edad}}</td>
              <td>{{item.domicilio}}</td>
              <td>{{item.correo}}</td>
              <td>{{item.puesto}}</td>
              <td>{{item.usuario}}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>


  </div>
  <!-- /card-container -->
</div>
<!-- /container -->
<button type="button" (click)="modal.show()">test</button>
<app-modal #modal>
  <div class="app-modal-header">
    Ingrese Los Datos de la Contratación
  </div>
  <div class="app-modal-body">
      <form novalidate [formGroup]=form>
          <div>
            <div class="form-row">
                <div class="form-group col">
                                <label for="nombre" class="form-control-label ">Nombres:</label>
              <input type="text" class="form-control " id="nombreCliente" name="nombreCliente" formControlName=nombreCliente>
              <!-- </div> --></div> 
              <!-- <div class="form-row"> -->
                  <div class="form-group col">
              <label for="edad" class="form-control-label ">Apellidos:</label>
              <input type="text" class="form-control " id="apellidoCliente" name="apellidoCliente" formControlName=apellidoCliente >

                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
              <label for="domicilio" class="form-control-label ">Domicilio:</label>
              <input type="text" class="form-control " id="direccionCliente" name="direccionCliente" formControlName=direccionCliente>
            </div>
            <!-- <div class="form-row"> --><div class="form-group col">
              <label for="correo" class="form-control-label ">Telefono:</label>
              <input type="email" class="form-control " id="telefonoCliente" name="telefonoCliente" formControlName=telefonoCliente>
            <!-- </div> --></div></div>
            <div class="form-row">
              <select class="form-control " formControlName=idPromocion>
                <option  value=0>Seleccione Un Paquete</option>
                <option value={{item.idPromocion}} *ngFor="let item of promociones.Generales"  >
                    Paquete {{item.categoriaPromocion}} {{item.idPromocion}}
                </option> 
              </select>
            </div>
           
            <div class="form-row">
              <div class="form-group col">
                <label class="form-control-label" for="usuario">Dia pedido:</label>
                <input type="text" class="form-control" id="fechaPedido" name="fechaPedido" formControlName=fechaPedido>
              </div>

              <div class="form-group col">
                <label for="contraseña" class="form-control-label">Fecha entrega:</label>
                <input type="text" class="form-control" id="fechaEntrega" name=fechaEntrega formControlName=fechaEntrega>
              </div>
            </div>

          </div>

        </form>
        {{form.value|json }}
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="modal.hide()">Close</button>
    <button type="button" class="btn btn-primary" (click)=contratarPromocion();>Save changes</button>
  </div>
</app-modal>