<div class="body">
  <div class="container">

    <div class="card card-principal">
      <div class="card-block">
        <div class="row">
          <div class="col-sm-12">
            <h2>Empleados</h2>
            <hr>
            <div class="row">
              <div class="col-sm-6">
                <label for="">Nombre:</label>
                <input type="text">
              </div>
              <div class="col-sm-6">
                  <label for="">Edad:</label>
                  <input type="text">
              </div>
              
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label for="">Nombre:</label>
                    <input type="text">
                  </div>
                  <div class="col-sm-6">
                      <label for="">Edad:</label>
                      <input type="text">
                  </div>
                
              </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>